
helpers/__pycache__/moveMouse.cpython-38.pyc
helpers/__pycache__/HSV.cpython-38.pyc
helpers/__pycache__/handleShapes.cpython-38.pyc
helpers/__pycache__/findColor.cpython-38.pyc
helpers/.DS_Store
.DS_Store
